body{
    margin: 0;
}

.body-container{
    width: 70%;
    margin: 0% 15% 0% 15%;
    background: #FFFFFF;
}

.stripe{
    background-color: #ededed;
}

.full-image{
    width: 100%;
    margin: 2em .5em;
}

.collection-des-container{
    padding: 0px 12%;
    margin: 7% 0em 3% 0em;
    text-align: center;
}

.stripe-container{
    width: 100%;
    display: flex;
    padding: 4em 1em;
    justify-content: space-around;
    margin: .5em 0;
    flex-wrap:wrap;
}

.stripe-text{
    flex: 1 1 100%;
    text-align: left;
    padding:7%;
}

.stripe-img{
    flex: 1 1 100%;
    margin:0 3%;
    text-align: center;
}

.blog-img{
    flex: 1 1 100%;
}

.blog-text{
    flex: 1 1 100%;
    padding-left: 3%;
    text-align: left;
}

.cart-img{
    padding: 5% 1% 1% 1%;
    text-align: center;
    flex-basis: 100%;
}

.cart-header{
    text-align: center;
    align-self: flex-end;
    flex-basis: 100%;
    padding: 1% 1%;
}

.cart-text{
    text-align: center;
    align-self: flex-end;
    flex-basis: 100%;
    padding: 1% 1%;
}

.cart-text-checkout{
  flex-grow: 1;
  padding: 0 2.5% 0 2.5%;
  text-align: left;
  flex-basis: 100%;
}

.product-listing{
    display:flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    margin: 0 2%;
    padding: 0 0 1em 0;
    flex: 1 1 100%;
}

.product-listing-text{
    padding: 0px .8em;
}

.image-gallery{
    display:flex;
    width:100%;
    justify-content: center;
}
.image-gallery-large{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    justify-content: center;
    margin: 2em 0;
}

.default-container{
  display: flex;
  margin: 3% 0;
  flex-wrap: wrap;
}

.default-item{
    flex-grow: 1;
    padding: 1em;
    text-align: center;

}

/*MEDIA QUERY*/
@media (min-width:40em){
  .cart-header{
      flex-basis: 30%;
  }

  .cart-text{
      flex-basis: 20%;
  }

  .cart-text-checkout{
    flex-basis: 50%
  }
}

@media (min-width:50em){
  .stripe-text{
      flex: 1 1 60%;
  }

  .stripe-img{
      flex: 1 1 40%;
  }

  .product-listing{
      flex: 1 1 33.33%;
  }

  .default-container{
      flex-wrap: nowrap;
  }

  .blog-img{
      flex: 1 1 20%;
  }

  .blog-text{
      flex: 1 1 80%;
  }

  .cart-img{
      flex-basis: 30%;
  }

  .cart-text-checkout{
    flex-basis: 33.33%
  }

}

@media (min-width:62.5em){
.image-gallery-large{
    flex-wrap:nowrap;
}
}
