body{
    margin: 0;
}

.body-container{
    width: 90%;
    margin: 5% 5% 5% 5%;
    background: #FFFFFF;
}

.stripe{
    background-color: #ededed; 
}

.collection-des-container{
    padding: 0px 12%;
    margin: 7% 0 7% 0;
    text-align: center;
}

