body{
    margin: 0;
}

.body-container{
    width: 70%;
    margin: 0% 15% 0% 15%;
    background: #FFFFFF;
}

.stripe{
    background-color: #ededed; 
}

.full-image{
    width: 100%;
    margin: 2em .5em;
}

.collection-des-container{
    padding: 0px 12%;
    margin: 7% 0 7% 0;
    text-align: center;
}

.stripe-container{
    display: flex;
    padding: 4em 1em;
    justify-content: center;
    margin: .5em 0;
}

.stripe-text{
    flex-basis: 40%;
    text-align: center;
}

.stripe-img{
    flex-basis: 60%;
    text-align: center;
}

.blog-img{
    flex-basis: 20%;
}

.blog-text{
    flex-basis: 80%;
    text-align: left;
}

.cart-img{
    padding: 0 2em;
    text-align: center;
    flex-basis: 30%;
}

.cart-header{
    text-align: center;
    align-self: flex-end;
    flex-basis: 30%;
    padding: 0 2em;
}

.cart-text{
    text-align: center;
    align-self: flex-end;
    flex-basis: 20%;
    padding: 0 2em;
}

.cart-text-checkout{
  flex-grow: 1;
  padding: 0em;
  text-align: left;
}

.product-listing{
    display:flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    margin: 0px 2em;
    padding: 0px 0px 1em 0px;
}

.product-listing-text{
    padding: 0px .8em;
}

.image-gallery{
    display:flex;
    width:50%;
    justify-content: center;
}

.image-gallery-large{
    display:flex;
    width:100%;
    justify-content: center;
    margin: 2em 0;
}

.default-container{
  display: flex;
  margin: 3% 0;
}

.default-item{
    flex-grow: 1;
    padding: 1em;
    text-align: center;
  
}
