[class^='form-grid-col-'] {
	float: left;
	padding: 0;
}

.form-grid-col-1of3, .form-grid-col-2of3, .form-grid-col-1of4, .form-grid-col-1of6{
  width:100%;
  margin: 0 1em 0 0;
}

.form-grid-row::after {
	content: "";
	display: block;
	clear: both;
  margin: 5% 0;
}


@media (min-width:48.75em){
  .form-grid-col-2of3 {
		width: 63%;
	}

  .form-grid-col-1of4 {
		width: 23%;
	}

  .form-grid-col-1of3 {
		width: 31%;
	}

  .form-grid-col-1of6{
    width: 15%;
  }
}

@media (min-width: 72em) {
	.form-grid-col-2of3 {
		width: 63%;
	}

  .form-grid-col-1of4 {
		width: 23%;
	}

  .form-grid-col-1of3 {
		width: 31%;
	}

  .form-grid-col-1of6{
    width: 15%;
  }
}
