
*, *::after, *::before {
	box-sizing: border-box;
}

[class^='grid-col-'] {
	float: left;
	padding: 0;
}

.grid-col-1of1, .grid-col-1of2, .grid-col-1of4, .grid-col-1of3, .grid-col-2of3, .grid-col-1of4-nav,.grid-col-1of4-home, .grid-col-1of6-footer{
	width: 100%;
}

.grid-col-1of4-space{
  width:0%;
}

.grid-col-1of1{
  text-align:center;
}

.grid-col-1of3{
  align-items: center;
  justify-content: center;
  text-align:center;
  padding:3% 0;
}

.grid-col-1of3 img{
  width:25rem;
  height:18.75rem;
}

.grid-col-1of3-gallery{
  width:30%;
}

.grid-col-1of4-home img{
  max-width:25%;
  max-height:25%;
}

.grid-row::after {
	content: "";
	display: block;
	clear: both;
}

.grid-col-1of4 > .nav-main-item {
	width: 100%;
}


/*for all the content within the body (navbar, herobanner, footer)*/


/*Container for default div*/
.default-container{
  display: flex;
  margin: 3% 0;
}

/*Item for deafult div*/
.default-item{
  flex-grow: 1;
  padding: 1em;
  text-align: center;
}

/*Position confirmation div*/
.flexbox-item-confirmation{
  flex-grow: 1;
  padding: 1em;
  float:right;
}

/*Position for Checkout div*/
.checkout{
  float: right;
  margin: 2% 0 7% 0;
  text-align: right;
}

/*For product page*/
.image-gallery{
    margin: 0 auto;
    display:flex;
    width:50%;
    justify-content: center;
}

.gallery-notfirst{
  padding-left: 10%;
}

@media (min-width: 23.75em){

  .grid-col-1of6-footer {
		width: 33.333%;
	}

  .grid-col-1of3 img{
    width:25em;
    height:18.75em;
  }

}

@media (min-width: 48.75em) {
  .body-container{
    width: 70%;
    margin: 5% 15% 5% 15%
  }

	.grid-col-1of2 {
		width: 50%;
	}


	.grid-col-1of2:last-of-type {
		padding-left: 1rem;
	}

	.grid-col-1of4 {
		width: 50%;
	}

  .grid-col-1of4-nav{
    width:25%;
    float:right;
  }

  .grid-col-1of4-home{
    width:25%;
  }

  .grid-col-1of6-footer {
		width: 33.333%;
	}

  .grid-col-1of3 {
		width: 100%;
	}

  .grid-col-1of3 img{
		width: 24em;
    height:18em;
	}

  .image-gallery{
    width:100%;
    height:auto;
  }
}

@media (min-width: 72em) {

	.grid-col-2of3 {
		width: 66.666%;
	}

	.grid-col-1of3 {
		width: 33.333%;
	}

  .grid-col-1of3 img{
		width: 20em;
    height: 16em;
    padding: 5% 5%;
	}

	.grid-col-1of4 {
		width: 25%;
	}

  .grid-col-1of4-nav{
    width:10%;
    float:right;
  }

  .grid-col-1of4-home{
    width:10%;
    text-align:left;
  }

  .grid-col-1of6-space{
    width:55%
  }

  .grid-col-1of6-logo{
    width:5%;
  }

  .grid-col-1of6-footer{
    width:16.66%;
  }

  .image-gallery{
    height:auto;
  }
    
}
