/* images.css is for storing setting of all image related element*/
img{
  margin: 0 0;
}

.hero-img{
    width:100%;
    height:auto;
    margin: 0 1em;
}

/*general setting for img-listing, used for general*/
.img-listing{
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #64825e;
}

/*general setting for img-product, used for homepage*/
.img-product{
    width:100%;
    height: auto;
    padding:7%;
}

/*general setting for img-stripe, used for general*/
.img-stripe{
    width: 100%;
    height: auto;
    padding: 1em;
}

/*general setting for img-cart, used for cart.html*/
.img-cart{
    width: 100%;
    height: auto;
}

/*general setting for img-blog, used for blog.html*/
.img-blog{
    width: 100%;
    height: auto;
    margin:0 0 5% 0;
}

.img-banner{
    width: 100%;
    height: auto;
}

/*general setting for logo-thumb, used for logo from navbar*/
.logo-thumb{
    margin: 0.3em 0 .3em 1.55em;
    padding: 0;
    width: 40px;
    height: auto;
}

/*general setting image-gallery images*/
.image-gallery img{
  width:25%;
  height:25%;
  margin: 1% 2.5%;
}

/*general setting image-gallery-large images, used for about.html*/
.image-gallery-large img{
  width:100%;
  height:100%;
  margin: .5em .5em;
}

/*general setting for image-full*/
.image-full img{
  width: 100%;
  min-height: auto;
  margin: 10% 0;
}

/*MEDIA QUERY for images.css*/
@media (min-width:62.5em){
  .image-gallery-large img{
    width:30%;
    height:30%;
    margin: .5em .5em;
  }
}

@media (max-width: 40em){
  .logo-thumb{
    margin: 0.3em 0;
  }
    .hero-img{
        width: 75%;
        height: auto;
    }
}
