img{
  margin: 0 0;
}

.img-listing{
    width: 100%;
    height: auto;
}

.img-stripe{
    width: 60%;
    height: auto; 
}

.left{
    display: block;
    float: left;
}

.right{
    display: block;
    float: right;
}

.image-gallery img{
  width:15%;
  height:15%;
  margin: 3.5% 3.5% 0% 3.5%;
}

.image-full img{
  width: 100%;
  height: auto;
  margin: 10% 0;
}