img{
  margin: 0 0;
}

.img-listing{
    width: 100%;
    height: auto;
}

.img-product, img-stripe{
    width:60%;
    height: auto;
}

.img-cart{
    width: 70%;
    height: auto;
}

.img-blog{
    width: 80%;
    height: auto;
}

.logo-thumb{
    margin-left: 1.55em;
    padding: 0;
    width: 40px;
    height: auto;
}

.image-gallery img{
  width:15%;
  height:15%;
  margin: .5em .5em;
}

.image-gallery-large img{
  width:100%;
  height:100%;
  margin: .5em .5em;
}

.image-full img{
  width: 100%;
  min-height: auto;
  margin: 10% 0;
}

/*MEDIA QUERY*/
@media (min-width:62.5em){
  .image-gallery-large img{
    width:30%;
    height:30%;
    margin: .5em .5em;
  }
}
