/* main.css is for storing setting of all general elemnts*/
*, *::after, *::before {
    box-sizing: border-box;
}

section{
    margin: 3em;
}

select{
    margin: 0 1em;
}

/*general setting for buttons and nav-toggle*/
.button-main, #nav-toggle {
    margin: 1em 0;
    display: inline-block;
    padding: 0.5em 1.5em;
    background-color: rgba(0,0,0,0);
    border-color: #64825e;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    color: #64825e;
    font-size: .9em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    font-family: 'Open Sans', sans-serif;
}

#nav-toggle{
    display:block;
    margin: 1em auto;
}

/*visual update on interaction of button-nav*/
.button-main:hover, .button-nav:focus, .button-nav:active {
    background-color: #64825e;
    color: #FFFFFF;
    font-weight: 600;
}

/*general setting for all textinput element*/
.textform{
    width: 100%;
    padding: .5em .3em 1em .3em;
    margin: 1em 0;
    border-style: hidden hidden solid hidden;
    background-color: #FFFFFF;
    color: #4D4D4D;
    font-family: 'Open Sans', sans-serif;
}

/*general setting for herobanner, used for homepage.html*/
.herobanner{
    display: -webkit-flex;
    display: -ms-flex;
    display:flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../imgs/herobanner.jpg");
    background-color: #FFFFFF;
}

/*general setting for divider-line, used for general*/
.divider-line{
    border-style: solid;
    border-width: .5px;
    border-color: #64825e;
}

/*button setting for buttons like CHECKOU and CONFIRM*/
.checkout{
  float: right;
  margin: 1em 0px 1.5em 0px;
  text-align: center;
}

/*layout for quntity located in cart.html*/
.quantity{
    margin: 15% 0 10% 0;
}

.quantity select{
    margin:10% 5%;
}