/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/


/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
    display: flex;
    color: #F5E7BA;
    background-color: #64825e;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    font-size: 1.2rem;
    font-family: 'Volkhov', sans-serif;
    align-items: center;
    justify-content: center;
    padding:0.3rem 0;
}

.button-nav-home {
    display: flex;
    color: #191919;
    background-color: #64825e;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    font-size: 1.2rem;
    font-family: 'Volkhov', sans-serif;
    padding:0.3rem 0;
    align-items: center;
    justify-content: center;
}

.button-nav:hover, .button-nav:focus {
    color: #191919;
}

.button-main {
    margin: 5% 1em;
    display: inline-block;
    padding: 0.5em 1.5em;
    background-color: #F0F0F0;
    border-style: solid;
    border-width: 2px;
    border-color: #191919;
    border-radius: 3px;
    color: #191919;
    font-size: .9em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    font-family: 'Open Sans', sans-serif;
}

.button-main:hover, .button-nav:focus {
    border-color: #64825e;
    color: #64825e;
}

.intext-link{
    color: #64825e;
}

.textform{
    width: 100%;
    padding: .5em .3em;
    margin: 1em 0;
    border-style: hidden hidden solid hidden;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #4D4D4D;
    font-family: 'Open Sans', sans-serif;
}

/*.button-default{
  padding: 0.5em 0.5em;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  text-decoration: none;
}

.button-default:hover, .button-default:selction{
  background-color: #FFFFFF; //No effect so far
}
*/

/*
  TEXT ELEMENTS -------------------
*/

h1{
    margin: .5em 0.5em;
    font-family: 'Volkhov', sans-serif;
    font-size: 2em;
}

h2{
    font-family: 'Volkhov', sans-serif;
    font-size: 1.3em;
    margin: 1.2em 0.7em;
}

h3{
    margin: .5em 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}

body {
  margin: 0px 0px 0px 0px;
  color: #4D4D4D;
  font-family: 'Open Sans', sans-serif;
}

p, form{
  margin:0.5em 1em;
}

label, input{
  margin:4em 0;
}

.u-list{
    padding: 1em;
    margin: .5em 1em;
    list-style: circle;
    color: #4D4D4D;
    font-family: 'Open Sans', sans-serif;
}

.u-list li{
    padding: .2em .3em;
}

.o-list{
    padding: 1em;
    margin: .5em 1em;
    color: #4D4D4D;
    list-style-type: lower-roman;
    font-family: 'Open Sans', sans-serif;
}

.o-list li{
    padding: .2em .3em;
}


/*
  COMBINED ELEMENTS -------------------
*/
*, *::after, *::before {}

section{
  margin: 3% 0 10% 0;
}

.navbar{
    background-color: #64825e;
    margin: 0 0 3% 0;
    color:#ffffff;
}

/*.navbar a{
    margin: .5em .8em;
}*/

.product-listing{
    display:flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.product-listing h2{
    text-decoration:none;
}
.product-listing h3{
    text-decoration:none;
}

.product-listing:visited{
    color: #191919;
    text-decoration:none;
}



/* Container for product-listing */
.flexbox{
    display: -webkit-flex;
    display: -ms-flex;
    display:flex;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.body-container{
  background-color: #ffffff;
}

.collection-des-container{
  padding-left: 6%;
  padding-right: 6%;
  margin: 7% 0 7% 0
}

/* Container for singular item on Product page*/
.flexbox-container{
  display: flex;
  margin: 3% 0;
}

/* Item for Container for singular item on Product page*/
.flexbox-item{
  flex-grow: 1;
  padding: 1em;
}

.flexbox-item-confirmation{
  flex-grow: 1;
  padding: 1em;
  float:right;
}

.herobanner{
    display: -webkit-flex;
    display: -ms-flex;
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../imgs/herobanner.jpg");
    background-color: #FFFFFF;
}


.footer p{
  text-align:center;
  flex-direction: column;
  justify-content: center;
  display:flex;
}

.image-gallery img{
  margin: 0 0;
}


img{
  margin: 0 0;
}

.img-thumbnail{
  max-width:100%;
  max-height:100%;
  width:auto;
  height:auto;
}

.image-full img{
  width: 100%;
  height: auto;
  margin: 10% 0;
}

.divider-line{
    border-style: solid;
    border-width: 1px;
    border-color: #191919;
}
