/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/


/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
    display: inline-block;
    padding: 0.5em 0.75em;
    color: #191919;
    background-color: #64825e;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    font-size: 1.2em;
    font-family: 'Volkhov', sans-serif;
}

.button-nav:hover, .button-nav:focus {
    color: #F5E7BA;
}

.button-main {
    display: inline-block;
    padding: 0.5em 1.5em;
    background-color: #F0F0F0;
    border-style: solid;
    border-width: 2px;
    border-color: #191919;
    border-radius: 3px;
    color: #191919;
    font-size: .9em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    font-family: 'Open Sans', sans-serif;
}

.button-main:hover, .button-nav:focus {
    border-color: #64825e;
    color: #64825e;
}

.intext-link{
    color: #64825e;
}

.textform{
    width: 100%;
    padding: .5em .3em;
    margin: .5em 0;
    border-style: hidden hidden solid hidden;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #4D4D4D;
    font-family: 'Open Sans', sans-serif;
}

.button-default{
  padding: 0.5em 0.5em;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  text-decoration: none;
}

.button-default:hover, .button-default:selction{
  background-color: #FFFFFF; //No effect so far
}


/*
  TEXT ELEMENTS -------------------
*/

h1{
    margin: .5em 0;
    font-family: 'Volkhov', sans-serif;
    font-size: 2em;
}

h2{
    font-family: 'Volkhov', sans-serif;
    font-size: 1.3em;
}

h3{
    margin: .5em 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}

/*For body copy*/
body {
  margin: 10px 0;
  color: #4D4D4D;
  font-family: 'Open Sans', sans-serif;
}

/*.bodycopy{
    margin: 10px 0;
    color: #4D4D4D;
    font-family: 'Open Sans', sans-serif;
}*/

.u-list{
    padding: 1em;
    margin: .5em 1em;
    list-style: circle;
    color: #4D4D4D;
    font-family: 'Open Sans', sans-serif;
}

.u-list li{
    padding: .2em .3em;
}

.o-list{
    padding: 1em;
    margin: .5em 1em;
    color: #4D4D4D;
    list-style-type: lower-roman;
    font-family: 'Open Sans', sans-serif;
}

.o-list li{
    padding: .2em .3em;
}


/*
  COMBINED ELEMENTS -------------------
*/
*, *::after, *::before {
	box-sizing: border-box;
}

section{
  margin: 3% 0 10% 0;
}


.navbar{
    display: flex;
    width: 100%;
    background-color: #64825e;
    padding: 0em 1em;
}

.navbar div{
   flex: 1 1 auto;
}

.navbar a{
    margin: .5em 1em;
}

.product-listing{
    display:flex;
    flex-direction: column;
    width: 20%;
    padding: .2em;
    margin: 1em;
    text-align: center;
}

.product-listing h2{
    margin: 1em 0 .3em 0;
}
.product-listing h3{
    margin: .3em 0;
}

.product-listing img{
    width: 100%;
    heighT: auto;
}

.footer{
    display: flex;
    width: 100%;
    background-color: #64825e;
    text-align: center;
}

/* Container for product-listing */
.flexbox{
    display: -webkit-flex;
    display: -ms-flex;
    display:flex;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (min-width: 34.4em) {
    .button-nav{
      font-size: 1em;
    }
}


.content-container{
  width: 70%;
  margin: 5% 15% 5% 15%
}

.collection-des-container{
  padding-left: 6%;
  padding-right: 6%;
  margin: 7% 0 7% 0
}

/* Container for singular item on Product page*/
.flexbox-container{
  display: flex;
  margin: 3% 0;
}

/* Item for Container for singular item on Product page*/
.flexbox-item{
  flex-grow: 1;
  padding: 1em;
}

/*checkout*/
.checkout{
  float: right;
  margin: 2% 0 7% 0;
  text-align: right;
}

.herobanner{
    display: -webkit-flex;
    display: -ms-flex;
    display:flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* For product page*/
.image-gallery{
    display:flex;
    width:50%;
}

.image-gallery img{
  width:35%;
  height:35%;
  margin: 0% 2% 0 2%;
}

img{
  margin: 1% 1% 1% 1%;
}
