/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/

/*ARON CHEN WAS HERE*/

body {
    font-family: sans-serif;
    padding: 2rem;
    background-color: #F0F0F0;
}

section:not([id]) {
    margin: 1em 0;
    padding: 1em 0;
    border-bottom: 0.15em solid #333;
}

section h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

section h3 {
    margin-bottom: 0;
}

section p {
    margin-top: 0;
}

nav {
    margin-bottom: 1em;
    padding-bottom: 1em;
}

nav a:hover, nav a:focus {
    text-decoration: none;
}

section code {
    background-color: #EEE;
    padding: 0.5em 0.75em;
    display: block;
}

ul.citations {
    margin-left: 0.25em;
    padding-left: 0.25em;
}

ul.citations li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    padding-bottom: 1em;
}

ul.citations li strong {
    font-weight: normal;
    font-style: italic;
}

cite {
    font-style: normal;
}


/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
    display: inline-block;
    padding: 0.5em 0.75em;
    color: #191919;
    background-color: #64825e;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    font-size: 1.2em;
    font-family: 'Volkhov', sans-serif;
}

.button-nav:hover, .button-nav:focus {
    color: #F5E7BA;
}

.button-main {
    display: inline-block;
    padding: 0.5em 1.5em;
    background-color: #F0F0F0;
    border-style: solid;
    border-width: 2px;
    border-color: #191919;
    border-radius: 3px;
    color: #191919;
    font-size: .9em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    font-family: 'Open Sans', sans-serif;
}

.button-main:hover, .button-nav:focus {
    border-color: #64825e;
    color: #64825e;
}

.intext-link{
    color: #64825e;
}

.textform{
    width: 100%;
    padding: .5em .3em;
    margin: .5em 0;
    border-style: none;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #4D4D4D;
    font-family: 'Open Sans', sans-serif;
}


/*
  TEXT ELEMENTS -------------------
*/

.h1{
    margin: .5em 0;
    font-family: 'Volkhov', sans-serif;
    font-size: 2em;
}

.h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7em;
}

.h3{
    margin: .5em 0;
    font-family: 'Volkhov', sans-serif;
    font-size: 1.5em;
}

.bodycopy{
    margin: 10px 0;
    color: #4D4D4D;
    font-family: 'Open Sans', sans-serif;
}

.u-list{
    padding: 1em;
    margin: .5em 1em;
    list-style: circle;
    color: #4D4D4D;
    font-family: 'Open Sans', sans-serif;
}

.u-list li{
    padding: .2em .3em;
}

.o-list{
    padding: 1em;
    margin: .5em 1em;
    color: #4D4D4D;
    list-style-type: lower-roman;
    font-family: 'Open Sans', sans-serif;
}

.o-list li{
    padding: .2em .3em;
}


/*
  COMBINED ELEMENTS -------------------
*/
*, *::after, *::before {
	box-sizing: border-box;
}

.navbar{
    display: flex;
    width: 100%;
    background-color: #64825e;
    padding: 0em 1em;
}

.navbar div{
   flex: 1 1 auto;
}

.navbar a{
    margin: .5em 1em;
}

.product-listing{
    display:flex;
    flex-direction: column;
    width: 20%;
    padding: .2em;
    margin: 1em;
    text-align: center;
}

.product-listing h2{
    margin: 1em 0 .3em 0;
}
.product-listing h3{
    margin: .3em 0;
}

.product-listing img{
    width: 100%;
    heighT: auto;
}

.flexbox{
    display: -webkit-flex;
    display: -ms-flex;
    display:flex;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
