/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/


/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
    display: inline-block;
    padding: 0.5em 0.75em;
    color: #191919;
    background-color: #64825e;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    font-size: 1.2em;
    font-family: 'Volkhov', sans-serif;
}

.button-nav:hover, .button-nav:focus {
    color: #FFFFFF;
}

.button-main {
    margin: 5% 1em;
    display: inline-block;
    padding: 0.5em 1.5em;
    background-color: #F0F0F0;
    border-style: solid;
    border-width: 2px;
    border-color: #191919;
    border-radius: 3px;
    color: #191919;
    font-size: .9em;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    font-family: 'Open Sans', sans-serif;
}

.button-main:hover, .button-nav:focus {
    border-color: #64825e;
    color: #64825e;
}

.intext-link{
    color: #64825e;
}

.textform{
    width: 100%;
    padding: .5em .3em;
    margin: 1em 0;
    border-style: hidden hidden solid hidden;
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #4D4D4D;
    font-family: 'Open Sans', sans-serif;
}

/*
  TEXT ELEMENTS -------------------
*/

h1{
    margin: .5em 0.5em;
    font-family: 'Volkhov', sans-serif;
    font-size: 2em;
}

h2{
    font-family: 'Volkhov', sans-serif;
    font-size: 1.3em;
    margin: 1.2em 0.7em;
}

h3{
    margin: .5em 1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}

body {
  margin: 0px 0px 0px 0px;
  color: #4D4D4D;
  font-family: 'Open Sans', sans-serif;
}

p, form{
  margin:0.5em 1em;
}

label, input{
  margin:4em 0;
}

/*
  COMBINED ELEMENTS -------------------
*/
*, *::after, *::before {
    box-sizing: border-box;
}

section{
  margin: 3% 0 10% 0;
}

.navbar{
    display: flex;
    width: 100%;
    background-color: #64825e;
    padding: 0em 1em;
    align-items: center;
    box-shadow: 0px 5px 5px #888888;
}

.navbar div{
   flex: 1 1 auto;
}

.navbar a{
    margin: .5em .8em;
}

.product-listing{
    display:flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

.product-listing h2{
    text-decoration:none;
}
.product-listing h3{
    text-decoration:none;
}
.product-listing:visited{
    color: #191919;
    text-decoration:none;
}
.product-listing img{
    width: 60%;
    height: auto;
}



/* Container for product-listing */
.flexbox{
    display: -webkit-flex;
    display: -ms-flex;
    display:flex;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.body-container{
  background-color: #ffffff;
}

.collection-des-container{
  padding-left: 6%;
  padding-right: 6%;
  margin: 7% 0 7% 0
}

/* Container for singular item on Product page*/
.flexbox-container{
  display: flex;
  margin: 3% 0;
}

/* Item for Container for singular item on Product page*/
.flexbox-item{
  flex-grow: 1;
  padding: 1em;
}

.flexbox-item-confirmation{
  flex-grow: 1;
  padding: 1em;
  float:right;
}

.herobanner{
    display: -webkit-flex;
    display: -ms-flex;
    display:flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../imgs/herobanner.jpg");
    background-color: #FFFFFF;
}


.footer{
    display: flex;
    width: 100%;
    background-color: #64825e;
    padding: .5em 0em;
    align-items: flex-start;
    justify-content: center;
     box-shadow: 0px -2px 5px #888888;
}

.footer p{
    margin: 0;
    padding: .5em .75em;
}

.image-gallery img{
  width:15%;
  height:15%;
  margin: 3.5% 3.5% 0% 3.5%;
}


img{
  margin: 0 0;
}

.img-thumbnail{
  width:5%;
  height:auto;
}

.image-full img{
  width: 100%;
  height: auto;
  margin: 10% 0;
}

.divider-line{
    border-style: solid;
    border-width: 1px;
    border-color: #191919;
}
