.navbar{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background-color: #64825e;
    padding: 0em 2em;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 5px 5px #888888;
    z-index: 100;
}


.spacer-div{
    flex: 0 0 0;
}

.footer{
    display: flex;
    width: 100%;
    background-color: #64825e;
    padding: .5em 0em;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0px -3px 5px #888888;
    flex-wrap:wrap;
}

.footer p{
    margin: 0;
    padding: .5em .75em;
    color:#efeff5;
}

.button-nav {
    display: inline-block;
    padding: 0 0.75em;
    margin: 1em .8em;
    color: #FFFFFF;
    background-color: #64825e;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    font-size: 1.2em;
    font-weight: 100;
    font-family: 'Volkhov', sans-serif;
    text-align: center;
    justify-content: space-around;
    flex: 1 1 100%;
}

.button-nav:hover, .button-nav:focus {
    color: #6F4015;
}

#nav-toggle.hidden, #navbar.hidden {
	visibility: hidden;
	display: none;
}

@media (min-width: 38.5em){
  .button-nav{
    flex: .3 0.3 10%;
  }

  .spacer-div{
    flex: 3 3 auto;
  }
}
