/* nav_footer.css is for storing setting related to navbar and footer*/

/* general setting for navbar, used across all htmls*/
.navbar{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background-color: #64825e;
    padding: 0em 2em;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 5px 5px #888888;
    z-index: 100;
    position: fixed;
    top: 0;
}

/* spacer-div is for spcaing out home and the rest of the buttons within navbar*/
.spacer-div{
    flex: 0 0 0;
}

/* general setting for footer, used across all htmls*/
.footer{
    display: flex;
    width: 100%;
    background-color: #64825e;
    padding: .5em 0em;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0px -3px 5px #888888;
    flex-wrap:wrap;
}

/* for company name, address, and phone*/
.footer p{
    margin: 0;
    padding: .5em .75em;
    color:#efeff5;
}

/* button setting for navbar*/
.button-nav {
    display: inline-block;
    padding: 0 0.75em;
    margin: 1em 0;
    color: #FFFFFF;
    background-color: #64825e;
    text-decoration: none;
    transition: color 0.2s ease-out;
    font-size: 1.2em;
    font-weight: 100;
    font-family: 'Volkhov', sans-serif;
    text-align: center;
    justify-content: space-around;
    flex: 1 1 100%;
}

.button-nav:hover, .button-nav:focus, .button-nav:active {
    color: #191919;
    text-decoration: underline;
}

#nav-toggle.hidden, #navbar.hidden {
	visibility: hidden;
	display: none;
}

.nav-home{
    margin: 1em 0;
}

/*MEDIA QUERY for navbar and footer*/ 
@media (min-width: 40em){
  .button-nav{
    flex: .1 0.3 7%;
  }

  .nav-home{
    flex: 0.1 1 auto;
  }

  .spacer-div{
    flex: 3 3 auto;
  }
}
