h1{
    font-family: 'Volkhov', sans-serif;
}

h2{
    font-family: 'Volkhov', sans-serif;
}

h3{
    font-family: 'Open Sans', sans-serif;
}

p{
    font-family: 'Open Sans', sans-serif;
    color: #4D4D4D
}

.hero-h1{
    margin: 1em 0px 0px 0px;
    font-size: 4em;
    color: #FFFFFF;
    letter-spacing: .1em;
    font-weight: 100;
}

.hero-h2{
    margin: 0px;
    font-size: 1.8em;
    color: #FFFFFF;
    letter-spacing: .1em;
    font-weight: 100;
}

.listing-h3{
    font-family: 'Volkhov', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    margin: .5em 0px 0px 0px;
    color: #4D4D4D;
}

.bodycopy{
    font-size: 1.1em;
    line-height: 175%;
}


