/* text.css is for storing setting of all text related elements*/
h1{
    font-family: 'Volkhov', sans-serif;
    text-align: center;
    margin: 2em 0 1em 0;
}

h2{
    font-family: 'Volkhov', sans-serif;
    font-size: 2em;
    margin: 0.5em 0;
    color: #000000;
}

h3{
    font-family: 'Open Sans', sans-serif;
}

p, label{
    font-family: 'Open Sans', sans-serif;
    color: #4D4D4D;
}

a{
    text-decoration: none;
}

.intext-link{
    color: #64825e;
}

/*header for herobanner*/
.hero-h1{
    margin: 1em 0px 0px 0px;
    font-size: 4em;
    color: #000000;
    letter-spacing: .1em;
    font-weight: 800;
}

.hero-h2{
    margin: 0px;
    font-size: 1.8em;
    color: #000000;
    letter-spacing: .1em;
    font-weight: 100;
}

/*header for listing, used for general*/
.listing-h3{
    font-family: 'Volkhov', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    margin: .5em 0px 0px 0px;
    color: #000000;
    transition: color 0.2s ease-out;
}

.listing-h3:hover{
    color: #64825e;
    text-decoration: underline;
}

/*general setting for bodycopy*/
.bodycopy{
    font-size: 1.1em;
    line-height: 175%;
}

/*setting for cartcopy, used for cart.html*/
.cartcopy{
    font-size: 1.1em;
    margin: .5em 0px 0px 0px;
}

/*setting for blog header, used for blog.html*/
.blog-h3{
    font-size: 1.8em;
    margin: 0 0 .5em 0;
}


