<!DOCTYPE html>
<html lang="en">

    <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>About Template</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/text.css" rel="stylesheet">
    <link href="../css/nav_footer.css" rel="stylesheet">
    <link href="../css/containers.css" rel="stylesheet">
    <link href="../css/images.css" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Volkhov" rel="stylesheet">

    </head>

    <body>
        <button id="nav-toggle" class="hidden" aria-hidden="true" aria-controls="nav-items"> MENU </button>
        <nav class="navbar" id="navbar">
            <img src="../imgs/logo-thumb.png" alt="" class="logo-thumb">
            <a class="button-nav" href="homepage.html#navbar">Home</a>
            <div class="spacer-div"></div>
            <a class="button-nav" href="about.html">About</a>
            <a class="button-nav" href="blog.html">Blog</a>
            <a class="button-nav" href="cart.html">Cart</a>
        </nav>



        <div class="body-container">
            <div class="full-image">
                <img src="../imgs/hamish.png" width="100%" height="auto">
            </div>
            <div class="grid-row">
              <p class="bodycopy">Hi my name is Hamish Dupree, and I am the founder and craftsman behind North America's only, premium, artisanally-crafted firewood. I grew up around wood growing up - wood burning stove, firewood, fireplaces. It's in my blood.
                <br>
                <br>
                Started in 2010, Hamish and Co was established after I realizing that firewood has lost all of it's authenticity. My mission was to bring it back. That's why I only source the best, local firewood available and pour my heart and soul into each piece, while combining traditional and modern techniques. Every log tell's a story and it is my job to make it visible to you - no matter how long it takes.</p>
            </div>
            <div class="image-gallery-large">
                <img src="../imgs/firewood2.png">
                <img src="../imgs/process.png">
                <img src="../imgs/workshop.png">
            </div>
        </div>

        <footer class="footer">
            <a class="button-nav" href="homepage.html#navbar">Home</a>
            <a class="button-nav" href="about.html">About</a>
            <a class="button-nav" href="blog.html">Blog</a>
            <a class="button-nav" href="../Citations.html">Citations</a>
            <a class="button-nav" href="../Style_guide.html">Styleguide</a>
            <a class="button-nav" href="https://github.com/pheaj19/IAT-339-P02-Gary-Aron">Github Repo</a>
            <p> <strong>Hamish and Co Artisanal Firewood</strong>
                <br>
                1234 Fake St, Vancouver, BC, Canada
                <br>
                604-555-1234
                <br>
            </p>
        </footer>
    <script src="../js/hamburger.js"></script>
    </body>

</html>
