<!DOCTYPE html>
<html>

    <head>

    <html lang="en">
    <meta charset="utf-8">
    <title>Blog Template</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/grid.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Volkhov" rel="stylesheet">

    </head>

    <body>

      <nav class="navbar grid-row" id="navbar">
          <div class="grid-col-1of4-home">
            <img src="../imgs/logo.png" alt="" class="img-thumbnail"/>
            <a class="button-nav" href="homepage.html#navbar">Home</a>
          </div>
          <div class="grid-col-1of4-nav">
            <a class="button-nav" href="about.html">About</a>
          </div>
          <div class="grid-col-1of4-nav">
            <a class="button-nav" href="blog.html">Blog</a>
          </div>
          <div class="grid-col-1of4-nav">
            <a class="button-nav" href="cart.html">Cart</a>
          </div>
      </nav>


        <div class="body-container">

            <h1> Blogs and Events</h1>

            <section>
                <img src="../imgs/placeholder.png">
                <p> date and author </p>
                <p class="bodycopy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam bibendum risus quis auctor sagittis. Donec eget tortor risus. Vivamus a dui convallis, varius ante in, sollicitudin ex. Suspendisse potenti. Sed convallis sapien at ex volutpat volutpat. Praesent maximus hendrerit ornare. Sed maximus laoreet egestas. Quisque facilisis pretium facilisis. Duis est risus, placerat quis congue id, dignissim eu ligula. Vestibulum mattis nulla in tortor vulputate pellentesque. Sed blandit tortor risus, a vehicula neque semper eget. Vivamus congue enim id finibus feugiat. Proin non iaculis tellus. Proin lacus odio, varius eu massa et, aliquet auctor nunc.</p>
            </section>

            <div class="divider-line"></div>

            <section>
                <img src="../imgs/placeholder.png">
                <p> date and author </p>
                <p class="bodycopy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam bibendum risus quis auctor sagittis. Donec eget tortor risus. Vivamus a dui convallis, varius ante in, sollicitudin ex. Suspendisse potenti. Sed convallis sapien at ex volutpat volutpat. Praesent maximus hendrerit ornare. Sed maximus laoreet egestas. Quisque facilisis pretium facilisis. Duis est risus, placerat quis congue id, dignissim eu ligula. Vestibulum mattis nulla in tortor vulputate pellentesque. Sed blandit tortor risus, a vehicula neque semper eget. Vivamus congue enim id finibus feugiat. Proin non iaculis tellus. Proin lacus odio, varius eu massa et, aliquet auctor nunc.</p>
            </section>

            <div class="divider-line"></div>

            <section>
                <img src="../imgs/placeholder.png">
                <p> date and author </p>
                <p class="bodycopy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam bibendum risus quis auctor sagittis. Donec eget tortor risus. Vivamus a dui convallis, varius ante in, sollicitudin ex. Suspendisse potenti. Sed convallis sapien at ex volutpat volutpat. Praesent maximus hendrerit ornare. Sed maximus laoreet egestas. Quisque facilisis pretium facilisis. Duis est risus, placerat quis congue id, dignissim eu ligula. Vestibulum mattis nulla in tortor vulputate pellentesque. Sed blandit tortor risus, a vehicula neque semper eget. Vivamus congue enim id finibus feugiat. Proin non iaculis tellus. Proin lacus odio, varius eu massa et, aliquet auctor nunc.</p>
            </section>

            <div class="divider-line"></div>

            <a class="button-main" href="#">Next Page</a>

        </div>

        <footer class="footer">
            <div class="grid-row">
            <div class="grid-col-1of6-footer">
                <a class="button-nav" href="homepage.html#navbar">Home</a>
            </div>
            <div class="grid-col-1of6-footer">
                <a class="button-nav" href="about.html">About</a>
            </div>
            <div class="grid-col-1of6-footer">
                <a class="button-nav" href="blog.html">Blog</a>
            </div>
            <div class="grid-col-1of6-footer">
                <a class="button-nav" href="../Citations.html">Citations</a>
            </div>
            <div class="grid-col-1of6-footer">
                <a class="button-nav" href="../Style_guide.html">Styleguide</a>
            </div>
            <div class="grid-col-1of6-footer">
                <a class="button-nav" href="https://github.com/pheaj19/IAT-339-P02-Gary-Aron">Github Repo</a>
            </div>
          </div>
          <div class="grid-row grid-col-1of1">
            <h3>Hamish and Co Artisanal Firewood</h3>
          </div>
          <div class="grid-row grid-col-1of1">
            1234 Fake St, Vancouver, BC, Canada | 604-555-1234
          </div>
        </footer>

    </body>

</html>
