<!DOCTYPE html>
<html lang="en">

    <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Blog Template</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/text.css" rel="stylesheet">
    <link href="../css/nav_footer.css" rel="stylesheet">
    <link href="../css/containers.css" rel="stylesheet">
    <link href="../css/images.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Volkhov" rel="stylesheet">

    </head>

    <body>
        <button id="nav-toggle" class="hidden" aria-hidden="true" aria-controls="nav-items"> MENU </button>
        <nav class="navbar" id="navbar">
            <img src="../imgs/logo-thumb.png" alt="" class="logo-thumb">
            <div class="nav-home"><a class="button-nav" href="homepage.html#navbar">Hamish &amp; Co.</a></div>
            <div class="spacer-div"></div>
            <a class="button-nav" href="about.html">About</a>
            <a class="button-nav" href="blog.html">Blog</a>
            <a class="button-nav" href="cart.html">Cart</a>
        </nav>


        <div class="body-container">

            <h1>Blogs and Events</h1>

            <div class="divider-line"></div>

            <div class="stripe-container">
                <div class="blog-img">
                    <img src="../imgs/workshop-thumb.png" class="img-blog">
                </div>
                <div class="blog-text">
                    <h3 class="blog-h3">Title</h3>
                    <p><strong>Time and Date</strong><br><br></p>
                    <p class="bodycopy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam bibendum risus quis auctor sagittis. Donec eget tortor risus. Vivamus a dui convallis, varius ante in, sollicitudin ex. Suspendisse potenti. Sed convallis sapien at ex volutpat volutpat. Praesent maximus hendrerit ornare. Sed maximus laoreet egestas. Quisque facilisis pretium facilisis. Duis est risus, placerat quis congue id, dignissim eu ligula. Vestibulum mattis nulla in tortor vulputate pellentesque. Sed blandit tortor risus, a vehicula neque semper eget. Vivamus congue enim id finibus feugiat. Proin non iaculis tellus. Proin lacus odio, varius eu massa et, aliquet auctor nunc.</p>
                </div>

            </div>

            <div class="divider-line"></div>

            <div class="stripe-container">
                <div class="blog-img">
                    <img src="../imgs/workshop-thumb.png" class="img-blog">
                </div>
                <div class="blog-text">
                    <h3 class="blog-h3">Title</h3>
                    <p><strong>Time and Date</strong><br><br></p>
                    <p class="bodycopy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam bibendum risus quis auctor sagittis. Donec eget tortor risus. Vivamus a dui convallis, varius ante in, sollicitudin ex. Suspendisse potenti. Sed convallis sapien at ex volutpat volutpat. Praesent maximus hendrerit ornare. Sed maximus laoreet egestas. Quisque facilisis pretium facilisis. Duis est risus, placerat quis congue id, dignissim eu ligula. Vestibulum mattis nulla in tortor vulputate pellentesque. Sed blandit tortor risus, a vehicula neque semper eget. Vivamus congue enim id finibus feugiat. Proin non iaculis tellus. Proin lacus odio, varius eu massa et, aliquet auctor nunc.</p>
                </div>

            </div>





        </div>

        <footer class="footer">
            <a class="button-nav" href="homepage.html#navbar">Home</a>
            <a class="button-nav" href="about.html">About</a>
            <a class="button-nav" href="blog.html">Blog</a>
            <a class="button-nav" href="../Citations.html">Citations</a>
            <a class="button-nav" href="../Style_guide.html">Styleguide</a>
            <a class="button-nav" href="https://github.com/pheaj19/IAT-339-P02-Gary-Aron">Github Repo</a>
            <p> <strong>Hamish and Co Artisanal Firewood</strong>
                <br>
                1234 Fake St, Vancouver, BC, Canada
                <br>
                604-555-1234
                <br>
            </p>
        </footer>
    <script src="../js/hamburger.js"></script>
    </body>

</html>
