<!DOCTYPE html>
<html>

    <head>

    <meta charset="utf-8">
    <title>Blog Template</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/grid.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Volkhov" rel="stylesheet">

    </head>

    <body>

        <nav class="navbar">
            <a class="button-nav" href="#">Home Link</a>
            <div></div>
            <a class="button-nav" href="#">Link A</a>
            <a class="button-nav" href="#">Link B</a>
            <a class="button-nav" href="#">Link C</a>
        </nav>

          <div class="body-container">
        <h1> Blogs and Events</h1>
        <section>
        <img src="../imgs/placeholder.png">
        <p> date and author </p>
        <p class="bodycopy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam bibendum risus quis auctor sagittis. Donec eget tortor risus. Vivamus a dui convallis, varius ante in, sollicitudin ex. Suspendisse potenti. Sed convallis sapien at ex volutpat volutpat. Praesent maximus hendrerit ornare. Sed maximus laoreet egestas. Quisque facilisis pretium facilisis. Duis est risus, placerat quis congue id, dignissim eu ligula. Vestibulum mattis nulla in tortor vulputate pellentesque. Sed blandit tortor risus, a vehicula neque semper eget. Vivamus congue enim id finibus feugiat. Proin non iaculis tellus. Proin lacus odio, varius eu massa et, aliquet auctor nunc.</p>
        </section>
        <!-- div line -->
        <section>
        <img src="../imgs/placeholder.png">
        <p> date and author </p>
        <p class="bodycopy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam bibendum risus quis auctor sagittis. Donec eget tortor risus. Vivamus a dui convallis, varius ante in, sollicitudin ex. Suspendisse potenti. Sed convallis sapien at ex volutpat volutpat. Praesent maximus hendrerit ornare. Sed maximus laoreet egestas. Quisque facilisis pretium facilisis. Duis est risus, placerat quis congue id, dignissim eu ligula. Vestibulum mattis nulla in tortor vulputate pellentesque. Sed blandit tortor risus, a vehicula neque semper eget. Vivamus congue enim id finibus feugiat. Proin non iaculis tellus. Proin lacus odio, varius eu massa et, aliquet auctor nunc.</p>
        </section>
        <!-- div line -->
        <section>
        <img src="../imgs/placeholder.png">
        <p> date and author </p>
        <p class="bodycopy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam bibendum risus quis auctor sagittis. Donec eget tortor risus. Vivamus a dui convallis, varius ante in, sollicitudin ex. Suspendisse potenti. Sed convallis sapien at ex volutpat volutpat. Praesent maximus hendrerit ornare. Sed maximus laoreet egestas. Quisque facilisis pretium facilisis. Duis est risus, placerat quis congue id, dignissim eu ligula. Vestibulum mattis nulla in tortor vulputate pellentesque. Sed blandit tortor risus, a vehicula neque semper eget. Vivamus congue enim id finibus feugiat. Proin non iaculis tellus. Proin lacus odio, varius eu massa et, aliquet auctor nunc.</p>
        </section>
      </div>

        <footer class="footer">
            <a class="button-nav" href="#">Link A</a>
            <a class="button-nav" href="#">Link B</a>
            <a class="button-nav" href="#">Link C</a>
        </footer>

    </body>

</html>
