<!DOCTYPE html>
<html>

    <head>

    <html lang="en">
    <meta charset="utf-8">
    <title>Cart Template</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/grid.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Volkhov" rel="stylesheet">

    </head>

    <body>

      <div class="herobanner grid-row">
          <img src="../imgs/placeholder.png" alt="">
          <h1>Hamish and Co <br> Artisanal Firewood</h1>
      </div>
      <nav class="navbar grid-row">
          <div class="grid-col-1of4-home">
            <!--<img src="../imgs/placeholder.png" alt="" width=25% height=auto>-->
            <a class="button-nav-home" href="#">Home Link</a>
          </div>
          <div class="grid-col-1of4-nav">
            <a class="button-nav" href="#">Link A</a>
          </div>
          <div class="grid-col-1of4-nav">
            <a class="button-nav" href="#">Link B</a>
          </div>
          <div class="grid-col-1of4-nav">
            <a class="button-nav" href="#">Link C</a>
          </div>
      </nav>

        <div class="body-container">

            <div class="default-container">
                <div class="flexbox-item">
                    <img src="../imgs/firewood2.png">
                </div>
                <a class="default-item" href="product.html">
                    <h2> Maple Daydream </h2>
                    <p> Quantity: <strong>2</strong>
                    </p>
                </a>
                <div class="default-item">
                    <p> Total: <strong>$378</strong> </p>
                </div>
            </div>

            <div class="default-container">
                <div class="flexbox-item">
                    <img src="../imgs/firewood6.JPG">
                </div>
                <a class="default-item" href="product.html">
                    <h2> Oak Tranquility </h2>
                    <p> Quantity: <strong>1</strong>
                    </p>
                </a>
                <div class="default-item">
                    <p> Total: <strong>$200</strong> </p>
                </div>
            </div>

            <div class="divider-line"></div>

            <div class="checkout">
                <h3>TOTAL: $$</h3>

                <a class="button-main" href="form%20(email,%20payment,%20shipping).html"> CHECKOUT </a>
            </div>

        </div>

        <footer class="footer">
            <a class="button-nav" href="homepage.html#navbar">Home</a>
            <a class="button-nav" href="about.html">About</a>
            <a class="button-nav" href="blog.html">Blog</a>
            <a class="button-nav" href="../Citations.html">Citations</a>
            <a class="button-nav" href="../Style_guide.html">Styleguide</a>
            <a class="button-nav" href="https://github.com/pheaj19/IAT-339-P02-Gary-Aron">Github Repo</a>
            <p> <strong>Hamish and Co Artisanal Firewood</strong>
                <br>
                1234 Fake St, Vancouver, BC, Canada
                <br>
                604-555-1234
                <br>
            </p>
        </footer>

    </body>

</html>
