<!DOCTYPE html>
<html>

    <head>

    <html lang="en"> 
    <meta charset="utf-8">
    <title>Cart Template</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/grid.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Volkhov" rel="stylesheet">

    </head>

    <body>
        
        <nav class="navbar" id="navbar">
            <img src="../imgs/placeholder.png" alt="" class="img-thumbnail">
            <a class="button-nav" href="homepage.html#navbar">Home Link</a>
            <div></div>
            <a class="button-nav" href="about.html">About</a>
            <a class="button-nav" href="blog.html">Blog</a>
            <a class="button-nav" href="cart.html">Cart</a>
        </nav>

        <div class="body-container">
            
            <div class="default-container">
                <div class="flexbox-item">
                    <img src="../imgs/placeholder.png">
                </div>
                <div class="default-item">
                    <h2> product name </h2>
                </div>
                <div class="default-item">
                    <p> product info and price, collection </p>
                </div>
            </div>

            <div class="default-container">
                <div class="flexbox-item">
                    <img src="../imgs/placeholder.png">
                </div>
                <div class="default-item">
                    <h2> product name </h2>
                </div>
                <div class="default-item">
                    <p> product info and price, collection </p>
                </div>
            </div>

            <div class="divider-line"></div>
            
            <div class="checkout">
                <h3>TOTAL: $$</h3>

                <button class="button-default"> CHECKOUT or CONFIRM PURCHASE </button>
            </div>
      
        </div>

        <footer class="footer">
            <a class="button-nav" href="homepage.html#navbar">Home</a>
            <a class="button-nav" href="about.html">About</a>
            <a class="button-nav" href="blog.html">Blog</a>
            <a class="button-nav" href="../Citations.html">Citations</a>
            <a class="button-nav" href="../Style_guide.html">Styleguide</a>
            <a class="button-nav" href="https://github.com/pheaj19/IAT-339-P02-Gary-Aron">Github Repo</a>
            <p> <strong>Hamish and Co Artisanal Firewood</strong>
                <br>
                1234 Fake St, Vancouver, BC, Canada
                <br>
                604-555-1234
                <br>
            </p>
        </footer>

    </body>

</html>
