<!DOCTYPE html>
<html>

    <head>

    <html lang="en"> 
    <meta charset="utf-8">
    <title>Cart Template</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/grid.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Volkhov" rel="stylesheet">

    </head>

    <body>
        
        <nav class="navbar">
            <img src="../imgs/placeholder.png" alt="">
            <a class="button-nav" href="#">Home Link</a>
            <div></div>
            <a class="button-nav" href="#">Link A</a>
            <a class="button-nav" href="#">Link B</a>
            <a class="button-nav" href="#">Link C</a>
        </nav>

        <div class="body-container">
            
            <div class="default-container">
                <div class="flexbox-item">
                    <img src="../imgs/placeholder.png">
                </div>
                <div class="default-item">
                    <h2> product name </h2>
                </div>
                <div class="default-item">
                    <p> product info and price, collection </p>
                </div>
            </div>

            <div class="default-container">
                <div class="flexbox-item">
                    <img src="../imgs/placeholder.png">
                </div>
                <div class="default-item">
                    <h2> product name </h2>
                </div>
                <div class="default-item">
                    <p> product info and price, collection </p>
                </div>
            </div>

            <div class="divider-line"></div>
            
            <div class="checkout">
                <h3>TOTAL: $$</h3>

                <button class="button-default"> CHECKOUT or CONFIRM PURCHASE </button>
            </div>
      
        </div>

        <footer class="footer">
            <a class="button-nav" href="#">Link A</a>
            <a class="button-nav" href="#">Link B</a>
            <a class="button-nav" href="#">Link C</a>
        </footer>

    </body>

</html>
