<!DOCTYPE html>
<html>

    <head>

    <html lang="en"> 
    <meta charset="utf-8">
    <title>Confirmation Template</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/grid.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Volkhov" rel="stylesheet">

    </head>

    <body>

        <nav class="navbar">
            <img src="../imgs/placeholder.png" alt="">
            <a class="button-nav" href="#">Home Link</a>
            <div></div>
            <a class="button-nav" href="#">Link A</a>
            <a class="button-nav" href="#">Link B</a>
            <a class="button-nav" href="#">Link C</a>
        </nav>

        <div class="body-container">
            
            <div class="default-container">
                <div class="flexbox-item">
                    <img src="../imgs/placeholder.png">
                </div>
                <div class="default-item">
                    <h2> product name </h2>
                </div>
                <div class="default-item">
                    <p> product info and price, collection </p>
                </div>
            </div>

            <div class="default-container">
                <div class="flexbox-item">
                    <img src="../imgs/placeholder.png">
                </div>
                <div class="default-item">
                    <h2> product name </h2>
                </div>
                <div class="default-item">
                    <p> product info and price, collection </p>
                </div>
            </div>

        <div class="default-container">
            <div class="flexbox-item-confirmation">
            <p>Name | Birthday | Shiapping Address | Billing Address | Email | Phone Number</p>
            </div>

            <div class="flexbox-item-confirmation">
                <div class="checkout">
                    <h3>TOTAL: $$</h3>
                        <button class="button-default">BACK TO HOME</button>
                    </div>
                </div>
        </div>
    
        <footer class="footer">
            <a class="button-nav" href="#">Link A</a>
            <a class="button-nav" href="#">Link B</a>
            <a class="button-nav" href="#">Link C</a>
        </footer>

        </div>         
            
    </body>

</html>
