<!DOCTYPE html>
<html>

    <head>

    <meta charset="utf-8">
    <title>Cart and Confirmation Template</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/grid.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Volkhov" rel="stylesheet">

    </head>

    <body>

        <nav class="navbar">
            <a class="button-nav" href="#">Home Link</a>
            <div></div>
            <a class="button-nav" href="#">Link A</a>
            <a class="button-nav" href="#">Link B</a>
            <a class="button-nav" href="#">Link C</a>
        </nav>

        <div class="body-container">
          <div class="default-container">
          <div class="default-item">
        <img src="../imgs/placeholder.png">
        </div>
        <div class="default-item">
        <h2> Product Name </h2>
        </div>
        <div class="default-item">
        <p> product info and price, collection </p>
        </div>
      </div>
      <div class="default-container">
      <div class="default-item">
        <img src="../imgs/placeholder.png">
        </div>
        <div class="default-item">
        <h2> Product Name </h2>
        </div>
        <div class="default-item">
        <p> product info and price, collection </p>
        </div>
      </div>


        <div class="default-container">

        <div class="default-container">
          <div class="flexbox-item-confirmation">
        <p>Name | Birthday | Shiapping Address | Billing Address | Email | Phone Number</p>
      </div>

      <div class="flexbox-item-confirmation">
      <div class="checkout">
      <h3>TOTAL: $$</h3>

      <button class="button-default">BACK TO HOME</button>
    </div>
    </div>
    </div>
      </div>

        <footer class="footer">
            <a class="button-nav" href="#">Link A</a>
            <a class="button-nav" href="#">Link B</a>
            <a class="button-nav" href="#">Link C</a>
        </footer>

    </body>

</html>
