<!DOCTYPE html>
<html lang="en">

    <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation Template</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/text.css" rel="stylesheet">
    <link href="../css/nav_footer.css" rel="stylesheet">
    <link href="../css/containers.css" rel="stylesheet">
    <link href="../css/images.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans%7CVolkhov" rel="stylesheet">

    </head>

    <body>
        <button id="nav-toggle" class="hidden" aria-hidden="true" aria-controls="navbar"> Menu </button>
        <nav class="navbar" id="navbar">
            <img src="../imgs/logo-thumb.png" alt="" class="logo-thumb">
            <a class="button-nav nav-home" href="homepage.html#current">Hamish &amp; Co.</a>
            <div class="spacer-div"></div>
            <a class="button-nav" href="about.html">About</a>
            <a class="button-nav" href="blog.html">Blog</a>
            <a class="button-nav" href="cart.html">Cart</a>
        </nav>

        <div class="body-container">


            <h1>Your Order</h1>

            <div class="divider-line"></div>

            <div class="stripe-container">
                <div class="cart-img">
                    <img src="../imgs/birch.jpg" class="img-cart" alt="">
                </div>

                <div class="cart-header">
                    <a href="product.html"><h3 class="listing-h3">Maple Daydream</h3></a>
                </div>
                <div class="cart-text">
                    <p class="cartcopy"> Quantity: <strong>2</strong> </p>
                </div>
                <div class="cart-text">
                    <p class="cartcopy"> Total: <strong>$378</strong> </p>
                </div>

            </div>

            <div class="divider-line"></div>

            <div class="stripe-container">
                <div class="cart-img">
                    <img src="../imgs/birch.jpg" class="img-cart" alt="">
                </div>

                <div class="cart-header">
                    <a href="product.html"><h3 class="listing-h3">Oak Tranquility</h3></a>
                </div>
                <div class="cart-text">
                    <p class="cartcopy"> Quantity: <strong>1</strong> </p>
                </div>
                <div class="cart-text">
                    <p class="cartcopy"> Total: <strong>$200</strong> </p>
                </div>

            </div>


            <div class="divider-line"></div>

            <div class="stripe-container">
                <div class="cart-text-checkout">
                    <h3> Shipping Info </h3>
                    <p>
                    <strong>Address</strong> <br> 123 Fake Street <br>
                        Vancouver, BC, Canada<br>
                        123 ABC <br>
                        <strong>Contact Info</strong> <br> Gary Li <br>
                        fakeemail@email.come <br>
                        123-456-7890

                    </p>
                </div>
              <div class="cart-text-checkout">
                  <h3> Payment Info </h3>
                  <p>
                        <strong>Cardholder Name</strong> <br> Gary <br>
                        <strong>Card</strong> <br> xxx-xxxx-xxx19 <br>
                        06/19 <br>
                    </p>
              </div>
              <div class="cart-text-checkout">
                  <div class="checkout">
                      <h3>Total: $578</h3>
                      <a class="button-main" href="homepage.html"> CONFIRM </a>
                  </div>
              </div>

        </div>


        </div>

        <footer class="footer">
            <a class="button-nav" href="homepage.html#navbar">Home</a>
            <a class="button-nav" href="about.html">About</a>
            <a class="button-nav" href="blog.html">Blog</a>
            <a class="button-nav" href="../Citations.html">Citations</a>
            <a class="button-nav" href="../Style_guide.html">Styleguide</a>
            <a class="button-nav" href="https://github.com/pheaj19/IAT-339-P02-Gary-Aron">Github Repo</a>
            <p> <strong>Hamish and Co Artisanal Firewood</strong>
                <br>
                1234 Fake St, Vancouver, BC, Canada
                <br>
                604-555-1234
                <br>
            </p>
        </footer>


    <script src="../js/hamburger.js"></script>
    </body>

</html>
