<!DOCTYPE html>
<html>

    <head>

    <meta charset="utf-8">
    <title>Form</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Volkhov" rel="stylesheet">
        
    </head>
    
    <body>
        
        <nav class="navbar">
            <a class="button-nav" href="#">Home Link</a>
            <div></div>
            <a class="button-nav" href="#">Link A</a>
            <a class="button-nav" href="#">Link B</a>
            <a class="button-nav" href="#">Link C</a>
        </nav>

        <form>
            <label for="sample">Sample Form</label>
            <input type="text" id="sample" name="sample" class="textform">
            <label for="sample2">Sample Form 2</label>
            <input type="text" id="sample2" name="sample" class="textform">
            <label for="sample3">Sample Form 3</label>
            <input type="text" id="sample3" name="sample" class="textform">
        </form>
        
        <button> ADD TO CART </button>
        
        <footer>
            <a class="button-nav" href="#">Link A</a>
            <a class="button-nav" href="#">Link B</a>
            <a class="button-nav" href="#">Link C</a>
        </footer>
        
    </body>
    
</html>