<!DOCTYPE html>
<html>

    <head>

    <html lang="en">     
    <meta charset="utf-8">
    <title>Form</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/grid.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Volkhov" rel="stylesheet">

    </head>

    <body>

        <nav class="navbar" id="navbar">
            <img src="../imgs/placeholder.png" alt="" class="img-thumbnail">
            <a class="button-nav" href="homepage.html#navbar">Home Link</a>
            <div></div>
            <a class="button-nav" href="about.html">About</a>
            <a class="button-nav" href="blog.html">Blog</a>
            <a class="button-nav" href="cart.html">Cart</a>
        </nav>

        <div class="body-container">
            <h1>Form</h1>
            <h2>Personal Information</h2>
            <section>
                <form>
                    <label for="sample">Name</label>
                    <input type="text" id="sample" name="sample" class="textform">
                    <label for="sample2">Birthday</label>
                    <input type="text" id="sample2" name="sample" class="textform">
                    <label for="sample3">Shipping Address</label>
                    <input type="text" id="sample3" name="sample" class="textform">
                    <label for="sample3">Billing Address</label>
                    <input type="text" id="sample4" name="sample" class="textform">
                    <label for="sample3">Email</label>
                    <input type="text" id="sample5" name="sample" class="textform">
                    <label for="sample3">Phone Number</label>
                    <input type="text" id="sample6" name="sample" class="textform">
                </form>
            </section>
        
            <h2>Payment Information</h2>
            <section>
                <form>
                    <label for="sample">Type of Payment</label>
                    <input type="text" id="sample7" name="sample" class="textform">
                    <label for="sample2">Card Holder Name</label>
                    <input type="text" id="sample8" name="sample" class="textform">
                    <label for="sample3">Card Number</label>
                    <input type="text" id="sample9" name="sample" class="textform">
                    <label for="sample3">CVV Number</label>
                    <input type="text" id="sample10" name="sample" class="textform">
                </form>
            </section>

            <button class="button-default"> Confirm </button>
    
        </div>

        <footer class="footer">
            <a class="button-nav" href="homepage.html#navbar">Home</a>
            <a class="button-nav" href="about.html">About</a>
            <a class="button-nav" href="blog.html">Blog</a>
            <a class="button-nav" href="../Citations.html">Citations</a>
            <a class="button-nav" href="../Style_guide.html">Styleguide</a>
            <a class="button-nav" href="https://github.com/pheaj19/IAT-339-P02-Gary-Aron">Github Repo</a>
            <p> <strong>Hamish and Co Artisanal Firewood</strong>
                <br>
                1234 Fake St, Vancouver, BC, Canada
                <br>
                604-555-1234
                <br>
            </p>
        </footer>

    </body>

</html>
