<!DOCTYPE html>
<html>

    <head>

    <html lang="en">
    <meta charset="utf-8">
    <title>Homepage Template</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/grid.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Volkhov" rel="stylesheet">

    </head>

    <body>

        <div class="herobanner grid-row">
            <img src="../imgs/logo.png" alt="">
            <h1>Hamish and Co <br> Artisanal Firewood</h1>
        </div>

        <nav class="navbar grid-row" id="navbar">
            <div class="grid-col-1of4-home">
              <img src="../imgs/logo.png" alt="" class="img-thumbnail" width=25% height=auto>
              <a class="button-nav" href="homepage.html#navbar">Home</a>
            </div>
            <div class="grid-col-1of4-nav">
              <a class="button-nav" href="about.html">About</a>
            </div>
            <div class="grid-col-1of4-nav">
              <a class="button-nav" href="blog.html">Blog</a>
            </div>
            <div class="grid-col-1of4-nav">
              <a class="button-nav" href="cart.html">Cart</a>
            </div>
        </nav>


        <div class="body-container">

            <div class="collection-des-container">
              <h3> Our current offering </h3>
              <p> Ethically sourced from all around Canada, here are Hamsish and Co.'s current firewood offerings. Dried and aged for 3 months in an authentic 18th century firewood shed, Hamish and Co. have expertly crafted the best firewood there is on the market, with perfect shape, color, size, and burning properties.</p>
            </div>

            <div class="divider-line"></div>

            <div class="grid-row">

                <div class="grid-col-1of3">
                    <a class="product-listing" href="product.html">
                      <img src="../imgs/firewood2.png" alt="">
                      <h2>Maple Daydream</h2>
                      <h3>Infused Maple Wood <strong>from $189</strong></h3>
                    </a>
                </div>

                <div class="grid-col-1of3">
                    <a class="product-listing" href="product.html">
                      <img src="../imgs/firewood.png" alt="">
                      <h2>Aspen Sunset</h2>
                      <h3>Fragrant and pure <strong>from $352</strong></h3>
                    </a>
                </div>

                <div class="grid-col-1of3">
                    <a class="product-listing" href="product.html">
                      <img src="../imgs/firewood6.JPG" alt="">
                      <h2>Oak Tranquility</h2>
                      <h3>Our best-selling classic <strong>from $200</strong></h3>
                    </a>
                </div>

            </div>



            <div class="collection-des-container">
              <h3> Aspen Sunset </h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae ante sed nulla venenatis tempus. Sed nisi quam, iaculis et pharetra at, pretium sit amet risus. Integer tempor vel erat eget rhoncus. Aliquam erat volutpat. Pellentesque venenatis eu dolor non scelerisque. </p>
            </div>

            <div class="divider-line"></div>

            <div class="grid-row">

                <div class="grid-col-1of3">
                <a class="product-listing" href="product.html">
                    <img src="../imgs/placeholder.png" alt="">
                    <h2> Product Name</h2>
                    <h3> Product details and price</h3>
                </a>
                </div>

                <div class="grid-col-1of3">
                <a class="product-listing" href="product.html">
                    <img src="../imgs/placeholder.png" alt="">
                    <h2> Product Name</h2>
                    <h3> Product details and price</h3>
                </a>
                </div>

                <div class="grid-col-1of3">
                <a class="product-listing" href="product.html">
                    <img src="../imgs/placeholder.png" alt="">
                    <h2> Product Name</h2>
                    <h3> Product details and price</h3>
                </a>
              </div>
            </div>

        <footer class="footer grid-row">
            <div class="grid-col-1of6-footer">
                <a class="button-nav" href="homepage.html#navbar">Home</a>
            </div>
            <div class="grid-col-1of6-footer">
                <a class="button-nav" href="about.html">About</a>
            </div>
            <div class="grid-col-1of6-footer">
                <a class="button-nav" href="blog.html">Blog</a>
            </div>
            <div class="grid-col-1of6-footer">
                <a class="button-nav" href="../Citations.html">Citations</a>
            </div>
            <div class="grid-col-1of6-footer">
                <a class="button-nav" href="../Style_guide.html">Styleguide</a>
            </div>
            <div class="grid-col-1of6-footer">
                <a class="button-nav" href="https://github.com/pheaj19/IAT-339-P02-Gary-Aron">Github Repo</a>
            </div>
            <p> <strong>Hamish and Co Artisanal Firewood</strong>
                <br>
                1234 Fake St, Vancouver, BC, Canada
                <br>
                604-555-1234
                <br>
            </p>
        </footer>
    </body>

</html>
