<!DOCTYPE html>
<html>

    <head>

    <html lang="en">
    <meta charset="utf-8">
    <title>Homepage Template</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/grid.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Volkhov" rel="stylesheet">

    </head>
    <body>

        <div class="herobanner">
            <img src="../imgs/logo.png" alt="" class="img-hero">
            <h1>Hamish and Co <br> Artisanal Firewood</h1>
        </div>

        <nav class="navbar" id="navbar">
            <img src="../imgs/logo-thumb.png" alt="">
            <a class="button-nav" href="homepage.html#navbar">Home</a>
            <div></div>
            <a class="button-nav" href="about.html">About</a>
            <a class="button-nav" href="blog.html">Blog</a>
            <a class="button-nav" href="cart.html">Cart</a>
        </nav>


        <div class="body-container">


            <div class="collection-des-container grid-row">
              <h3> Our current offering </h3>
              <p> Ethically sourced from all around Canada, here are Hamsish and Co.'s current firewood offerings. Dried and aged for 3 months in an authentic 18th century firewood shed, Hamish and Co. have expertly crafted the best firewood there is on the market, with perfect shape, color, size, and burning properties.</p>
            </div>

            <div class="divider-line"></div>

            <div class="default-container">

                
                    <div class="product-listing">
                      <a href="product.html"><img src="../imgs/birch.jpg" alt=""></a>
                      <a href="product.html"><h2>Maple Daydream</h2></a>
                      <h3>Infused Maple Wood <strong>from $189</strong></h3>
                    </div>


   
                    <div class="product-listing">
                      <a href="product.html"><img src="../imgs/aspen.jpg" alt=""></a>
                      <a href="product.html"><h2>Aspen Sunset</h2></a>
                      <h3>Fragrant and pure <strong>from $352</strong></h3>
                    </div>



                    <div class="product-listing">
                      <a href="product.html"><img src="../imgs/oak.JPG" alt=""></a>
                      <a href="product.html"><h2>Oak Tranquility</h2></a>
                      <h3>Our best-selling classic <strong>from $200</strong></h3>
                    </div>


            </div>



         </div>
        <div class="stripe">
        <div class="body-container stripe">
            <h3> About Us </h3>
            <div class="default-container">
                <div class="default-item">
                    <img src="../imgs/hamish-thumb.png" alt="">
                </div>
                <div class="default-item">
                    <p>Hi my name is Hamish Dupree, and I am the founder and craftsman behind North America's only, premium, artisanally-crafted firewood. I grew up around wood growing up - wood burning stove, firewood, fireplaces. It's in my blood.</p>
                    <a class="intext-link" href="about.html"> READ MORE </a>
                </div>
            </div>    
        </div>
        </div>
        
        <div class="body-container">
            <h3> Our latest blog entry </h3>
            <div class="default-container">
                <div class="default-item">
                    <p>Hi my name is Hamish Dupree, and I am the founder and craftsman behind North America's only, premium, artisanally-crafted firewood. I grew up around wood growing up - wood burning stove, firewood, fireplaces. It's in my blood.</p>
                    <a class="intext-link" href="blog.html"> READ MORE </a>
                </div>
                <div class="default-item">
                    <img src="../imgs/workshop-thumb.png" alt="">
                </div>
            </div>    
        </div>
        

          <footer class="footer">
            <a class="button-nav" href="homepage.html#navbar">Home</a>
            <a class="button-nav" href="about.html">About</a>
            <a class="button-nav" href="blog.html">Blog</a>
            <a class="button-nav" href="../Citations.html">Citations</a>
            <a class="button-nav" href="../Style_guide.html">Styleguide</a>
            <a class="button-nav" href="https://github.com/pheaj19/IAT-339-P02-Gary-Aron">Github Repo</a>
            <p> <strong>Hamish and Co Artisanal Firewood</strong>
                <br>
                1234 Fake St, Vancouver, BC, Canada
                <br>
                604-555-1234
                <br>
            </p>
        </footer>

    </body>

</html>
