.herobanner{
    display: -webkit-flex;
    display: -ms-flex;
    display:flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../imgs/herobanner.jpg");
    background-color: #FFFFFF;
}

.hero-h1{
    color: #FFFFFF;
}