<!DOCTYPE html>
<html>

    <head>

    <html lang="en">   
    <meta charset="utf-8">
    <title>Product Page Template</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/grid.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Volkhov" rel="stylesheet">

    </head>
        
    <body>

        <nav class="navbar">
            <a class="button-nav" href="#">Home Link</a>
            <div></div>
            <a class="button-nav" href="#">Link A</a>
            <a class="button-nav" href="#">Link B</a>
            <a class="button-nav" href="#">Link C</a>
        </nav>

        <div class="body-container">
            
            <div class="default-container">
                <div class="default-item">
                    <img src="../imgs/placeholder.png">
                    <div class="image-gallery">
                        <img src="../imgs/placeholder.png">
                        <img src="../imgs/placeholder.png">
                        <img src="../imgs/placeholder.png">
                    </div>
                </div>
                
                <div class="default-item">
                    <h2> Product Name </h2>
                    <p> product info and price, collection </p>
                    <p class="bodycopy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam bibendum risus quis auctor sagittis. Donec eget tortor risus. Vivamus a dui convallis, varius ante in, sollicitudin ex. Suspendisse potenti. Sed convallis sapien at ex volutpat volutpat. Praesent maximus hendrerit ornare. Sed maximus laoreet egestas. Quisque facilisis pretium facilisis. Duis est risus, placerat quis congue id, dignissim eu ligula. Vestibulum mattis nulla in tortor vulputate pellentesque. Sed blandit tortor risus, a vehicula neque semper eget. Vivamus congue enim id finibus feugiat. Proin non iaculis tellus. Proin lacus odio, varius eu massa et, aliquet auctor nunc.</p>

                    <button class="button-default"> ADD TO CART </button>
                
                </div>

            </div>
        </div>


        <footer class="footer">
            <a class="button-nav" href="#">Link A</a>
            <a class="button-nav" href="#">Link B</a>
            <a class="button-nav" href="#">Link C</a>
        </footer>

    </body>

</html>
