<!DOCTYPE html>
<html>

    <head>

    <html lang="en">   
    <meta charset="utf-8">
    <title>Product Page Template</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/grid.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Volkhov" rel="stylesheet">

    </head>
        
    <body>

        <nav class="navbar" id="navbar">
            <img src="../imgs/logo.png" alt="" class="img-thumbnail">
            <a class="button-nav" href="homepage.html#navbar">Home Link</a>
            <div></div>
            <a class="button-nav" href="about.html">About</a>
            <a class="button-nav" href="blog.html">Blog</a>
            <a class="button-nav" href="cart.html">Cart</a>
        </nav>

        <div class="body-container">
            
            <div class="default-container">
                <div class="default-item">
                    <img src="../imgs/firewood2.png" width="500px" height="500px">
                    <div class="image-gallery">
                        <img src="../imgs/firewood2.png">
                        <img src="../imgs/firewood4.png">
                        <img src="../imgs/firewood5.png">
                    </div>
                </div>
                
                <div class="default-item">
                    <h2> Maple Daydream </h2>
                    <p> <strong>From $189</strong> </p>
                    <p class="bodycopy">Sourced from the pristine mountains of northern Quebec, this firewood burns warm and cozy like a hot chocolate on a cold winter's night. 
                    <br>
                    <br>
                    Dried and aged for 3 years. Infused with gingseng, maple syrup, and hickory, this piece will be fragrant from start to finish. </p>
                    
                    <form action="/action_page.php">
                        <label for="dropdown">Quantity (in bundles)</label>
                        <select id="dropdown" name="Quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4i">4</option>
                      </select>
                    </form>
                    <a class="button-main" href="cart.html"> ADD TO CART </a>
                
                </div>

            </div>
        </div>


        <footer class="footer">
            <a class="button-nav" href="homepage.html#navbar">Home</a>
            <a class="button-nav" href="about.html">About</a>
            <a class="button-nav" href="blog.html">Blog</a>
            <a class="button-nav" href="../Citations.html">Citations</a>
            <a class="button-nav" href="../Style_guide.html">Styleguide</a>
            <a class="button-nav" href="https://github.com/pheaj19/IAT-339-P02-Gary-Aron">Github Repo</a>
            <p> <strong>Hamish and Co Artisanal Firewood</strong>
                <br>
                1234 Fake St, Vancouver, BC, Canada
                <br>
                604-555-1234
                <br>
            </p>
        </footer>

    </body>

</html>
