<!DOCTYPE html>
<html>

    <head>

    <html lang="en">
    <meta charset="utf-8">
    <title>Product Page Template</title>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/grid.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Volkhov" rel="stylesheet">

    </head>

    <body>

        <nav class="navbar grid-row" id="navbar">
          <div class="grid-col-1of4-home">
            <img src="../imgs/logo.png" alt="" class="img-thumbnail">
            <a class="button-nav-home" href="#">Home</a>
          </div>
          <div class="grid-col-1of4-nav">
            <a class="button-nav" href="#">Link A</a>
          </div>
          <div class="grid-col-1of4-nav">
            <a class="button-nav" href="#">Link B</a>
          </div>
          <div class="grid-col-1of4-nav">
            <a class="button-nav" href="#">Link C</a>
          </div>
        </nav>

        <div class="body-container">

            <div class="grid-row">
                <div class="grid-col-1of2">
                  <div class="grid-row">
                    <img src="../imgs/firewood2.png" width="100%" height="auto">
                  </div>
                    <div class="grid-row">
                      <div class="grid-col-1of3-gallery">
                        <img class="image-gallery" src="../imgs/firewood2.png">
                      </div>
                      <div class="grid-col-1of3-gallery">
                        <img class="image-gallery gallery-notfirst" src="../imgs/firewood4.png">
                      </div>
                      <div class="grid-col-1of3-gallery">
                        <img class="image-gallery gallery-notfirst" src="../imgs/firewood5.png">
                      </div>
                    </div>
                </div>

                <div class="grid-col-1of2">
                    <h2> Maple Daydream </h2>
                    <p> <strong>From $189</strong> </p>
                    <p class="bodycopy">Sourced from the pristine mountains of northern Quebec, this firewood burns warm and cozy like a hot chocolate on a cold winter's night.
                    <br>
                    <br>
                    Dried and aged for 3 years. Infused with gingseng, maple syrup, and hickory, this piece will be fragrant from start to finish. </p>

                    <form action="/action_page.php">
                        <label for="dropdown">Quantity (in bundles)</label>
                        <select id="dropdown" name="Quantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4i">4</option>
                      </select>
                    </form>
                    <a class="button-main" href="cart.html"> ADD TO CART </a>

                </div>

            </div>
        </div>


        <footer class="footer">
            <div class="grid-row">
            <div class="grid-col-1of6-footer">
                <a class="button-nav" href="homepage.html#navbar">Home</a>
            </div>
            <div class="grid-col-1of6-footer">
                <a class="button-nav" href="about.html">About</a>
            </div>
            <div class="grid-col-1of6-footer">
                <a class="button-nav" href="blog.html">Blog</a>
            </div>
            <div class="grid-col-1of6-footer">
                <a class="button-nav" href="../Citations.html">Citations</a>
            </div>
            <div class="grid-col-1of6-footer">
                <a class="button-nav" href="../Style_guide.html">Styleguide</a>
            </div>
            <div class="grid-col-1of6-footer">
                <a class="button-nav" href="https://github.com/pheaj19/IAT-339-P02-Gary-Aron">Github Repo</a>
            </div>
          </div>
          <div class="grid-row grid-col-1of1">
            <h3>Hamish and Co Artisanal Firewood</h3>
          </div>
          <div class="grid-row grid-col-1of1">
            1234 Fake St, Vancouver, BC, Canada | 604-555-1234
          </div>
        </footer>

    </body>

</html>
